#set ($baseUrl = $applicationProperties.baseUrl)

#if ($previewable.size() > 0)
<ul class="attachments thumbnails">
  #foreach ($attachmentWrapper in $previewable)
    #set ($attachment = $attachmentWrapper.Entry)
    #set ($preview = $attachment.preview.get() )
    #if ( $preview.height > 100 )
      #set ( $scaleFactor = 100.0 / $preview.height )
    #else
      #set ( $scaleFactor = 1 )
    #end
    #set ( $height = $preview.height * $scaleFactor )
    #set ( $width = $preview.width * $scaleFactor )
    ## attachment.downloadPath and preview.downloadPath always start with / which comes from com.atlassian.confluence.util.getAttachmentsPathForContent.getAttachmentsPathForContent())
    <li><a href="$attachmentWrapper.AbsoluteDownloadPath" target="_blank"><img src="$attachmentWrapper.AbsoluteDownloadPath" width="$width" height="$height" alt=""></a></li>
  #end
</ul>
<div class="clearer"></div>
#end
#if ($nonpreviewable.size() > 0)
<ul class="attachments activity-list">
  #foreach ($attachmentWrapper in $nonpreviewable)
    #set ($attachment = $attachmentWrapper.Entry)
    <li>
      <a href="$attachmentWrapper.AbsoluteDownloadPath">$attachment.name</a>
      #if ($attachment.comment.isDefined())
      <blockquote>$attachment.comment.get()</blockquote>
      #end
    </li>
  #end
</ul>
#end