.activity-item {
    *zoom: 1;
}

.blanket-container {
    *height: 100%;
}

.filter-view .blanket-container .aui-blanket {
    *height: 105%;
    *width: 109%;
}

.filter-view.is-configurable  #stream-title-edit {
    *float: left;
}

.config-row select, .config-row .user-input {
    *float: left;
}

form.aui .user-input {
    width: 32%;
}

#stream-title.non-configurable {
    display: inline;
}

.activity-item .clearer {
    display: none;
}

.activity-item * .clearer {
    display: block;
}

.activity-item-grouped .user-icon {
    display: block;
    visibility: hidden;
}

.activity-item-grouped .user-icon, .activity-item-grouped .user-icon img {
    height: 1px;
}

.view {
    /* This fixes a bug in IE that causes the display to flicker (STRM-902) */
    position: relative;
}

.smart-config {
    /* This fixes a rendering bug in IE (STRM-904) */
    zoom: 1;
}

.smart-config input.text.hasDatepicker {
    top: 0 !important;
}

/* Styles specific to Chosen multiselect completer */
.smart-config .chzn-container, .smart-config .config-row input.text {
    display: inline;
    float: none;
    top: 1px;
    vertical-align: top;
    width: 30%;
}

.smart-config .config-row input.date-range {
    position: relative;
    width: 13%;
}

.date-range-joiner {
    float: none;
    margin-top: 0;
}

.smart-config .config-row input.text {
    height: 22px;
    margin-top: 1px;
}

.smart-config ul.chzn-choices {
    overflow: hidden;
    width: 100%;
}

/* The following rules are because Chosen appears behind silly things - STRM-1833 */
#streams-global-filters {
    z-index: 999;
}

#streams-available-streams {
    z-index: 998;
}

#config-form {
    z-index: 999;
}

.config-row.chosen-dropdown {
    z-index: 999;
}

/* Fix for Chosen rows in IE not being hoverable */
.smart-config .chzn-container.chzn-showing li.active-result {
    width: 100%;
}

div.chzn-container ul.chzn-choices li.search-choice a.search-choice-close {
    right: 0 !important;
}

form.aui .config-row .add-remove-buttons {
    position: absolute;
    right: 3px;
    top: 0;
}

form.aui select.operator, form.aui select.rule {
    float: none !important;
    display: inline !important;
}

form.aui select.multi-select {
    *float: none;
}

form.aui select option.disabled {
    color: #ccc;
}

.has-footer-options .footer {
    /* Prevents footer from sitting "on top" of rss icon */
    width: 35px;
}

/* override the gadgets override */
.gadget .footer .aui-dd-parent .aui-dropdown {
    top: 18px !important;
}

.activity-stream-sparse-header {
    /* Prevents shift when refreshing stream in view issue context */
    height: 22px;
}

.activity-stream-header #activity-stream-feed, .activity-stream-sparse-header #activity-stream-feed {
    margin-top: 0.3em;
}

.loading .activity-stream-sparse-header .throbber-placeholder {
    margin-top: 0.1em;
}

/*
    IE won't recognize the :first-child psuedo-selector in quirks mode, and since gadgets doesn't set a doc type, quirks
    mode is what we get.  So we're visually hacking around it by setting two smaller margins instead of one big one.
    If we ever fix AG-1355 this should be removed.
*/
.activity-item-description blockquote p {
    margin: 0.4em 0 0.4em 0;
}

.activity-item-description blockquote {
    padding-top: 0.2em;
}

.activity-item-description blockquote blockquote {
    padding-bottom: 0.1em;
    padding-top: 0.1em;
}

.activity-item-actions.loading {
    *background: none;
}

.activity-item-info .loading {
    *background: url(images/throbber_small.gif) no-repeat scroll left center transparent;
}

.activity-item-actions {
    padding-left: 0.5em;
}

.blanket-container .aui-blanket {
    z-index: 1;
}
