#* @vtlvariable name="participant" type="com.atlassian.jira.issue.changehistory.metadata.HistoryMetadataParticipant" *#
#* @vtlvariable name="i18n" type="com.atlassian.sal.api.message.I18nResolver" *#
#if($participant)
    #if("$!participant.displayNameKey" != "" && "$i18n.getRawText($participant.displayNameKey)" != "$participant.displayNameKey")
        #set($participantId = $i18n.getText($participant.displayNameKey, $participant.id))
    #elseif($participant.displayName)
        #set($participantId = $participant.displayName)
    #else
        #set($participantId = $participant.id)
    #end
    #if($participantId)
        <span class="history-metadata-participant">#if($participant.url)<a href="$participant.url">$participantId</a>#else$participantId#end</span>
    #end
#end